 {% extends 'blog/base.html' %}

{% block content %}
<center>
	 <h2>Главная страница</h2></center>
    <ul>
     <p> В распоряжении гостей нашего отеля {{count_room}} номеров различных категорий. В каждом номере: индивидуальный кондиционер, сейф, холодильник, телефон, телевизор с каналами на иностранных языках, письменные принадлежности, бесплатный WI-FI, ванная комната с современной сантехникой, феном и туалетными принадлежностями. По запросу предоставляются: зубная паста, щетка, расческа, бритвенный набор.

	На каждом этаже отеля располагается кулер c холодной и горячей водой. Номера отеля оборудованы системой электронных замков. Работает круглосуточная система видеоконтроля.

	Из окон большинства номеров открывается вид на набережную реки Невы и Александро-Невскую Лавру. </p>
	<center>
	<p><img src="http://found.com.ua/gallery/advancement_living_space/files/134646814242hotel_bristol_warsaw_poland.jpg" alt="здесь должна быть картинка" width="500" height="500"> </p>
	</center>
    </ul>
{% endblock %}
